.container-80 {
  width: 80%;
  margin: auto;
}

.container-90 {
  width: 90%;
  margin: auto;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4rem;
}

.px-5 {
  padding: 0 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  cursor: pointer;
}

body {
  font-family: serif;
  background: #f4f4f4;
  width: 100%;
  height: 100%;
}

.wrapper {
  background: #fff;
  max-width: 1000px;
  margin: auto;
  -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
}

.color-highlight {
  color: #009a9a;
}

header {
  height: 100px;
}

header .container-80 {
  padding-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container-80 .title .title__title-name,
header .container-80 .title .title__name {
  font-weight: 500;
}

header .container-80 .nav {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .container-80 .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

header .container-80 .nav .nav__list .nav__link {
  padding-bottom: 1rem;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

header .container-80 .nav .nav__list .nav__link:hover, header .container-80 .nav .nav__list .nav__link:focus {
  color: #009a9a;
}

header .container-80 .nav .nav__list .nav__link.active {
  border-bottom: 2px solid #009a9a;
}

header .container-80 .nav .nav__list.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .container-80 .hamburger {
  height: 18px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  visibility: hidden;
  outline: none;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .container-80 .hamburger.show {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header .container-80 .hamburger.show .hamburger__bar:first-child {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

header .container-80 .hamburger.show .hamburger__bar:nth-child(2) {
  display: none;
}

header .container-80 .hamburger.show .hamburger__bar:last-child {
  -webkit-transform: rotate(-45deg) translate(6px, -5px);
          transform: rotate(-45deg) translate(6px, -5px);
}

header .container-80 .hamburger.move {
  position: fixed;
  top: 10px;
  right: 10px;
}

header .container-80 .hamburger .hamburger__bar {
  height: 3px;
  width: 100%;
  background: #181818;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.page-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.7fr 0.5fr 3fr;
      grid-template-columns: 1.7fr 0.5fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.page-grid-container .page-title {
  margin-bottom: 5rem;
}

.page-grid-container .page-title .page-title__title {
  display: inline-block;
  position: relative;
}

.page-grid-container .page-title .page-title__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10%;
  width: 0;
  height: 2px;
  background: #009a9a;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.page-grid-container .page-title .page-title__title.show::after {
  width: 120%;
}

.page-grid-container .divider {
  width: 2px;
  height: 50%;
  background: #009a9a;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -ms-grid-column-align: center;
      justify-self: center;
}

.about .about__info {
  width: 70%;
  margin: auto;
  padding: 4rem 0;
  text-align: left;
  font-size: 0.85rem;
  line-height: 2;
}

.about .about__info .about__info__img {
  position: relative;
  margin: 0 auto 1.5rem auto;
  width: 80%;
}

.about .about__info .about__info__img img {
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
}

.about .about__info .about__info__img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.intro {
  margin-top: 3rem;
  font-size: 0.85rem;
}

.intro p:nth-child(3) {
  margin-top: 5px;
}

.github-link .github-link__url {
  color: #009a9a;
  text-decoration: underline;
  color: #181818;
  font-size: 0.85rem;
}

.github-link .github-link__url i {
  font-size: 1.5rem;
}

.projects {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.projects .container-90 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.projects .container-90 .project {
  position: relative;
  min-height: 300px;
  min-width: 400px;
}

.projects .container-90 .project .project-link {
  height: 100%;
  width: 100%;
}

.projects .container-90 .project img {
  width: 100%;
  height: 100%;
}

.projects .container-90 .hover-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow: hidden;
}

.projects .container-90 .hover-overlay:hover, .projects .container-90 .hover-overlay:focus {
  opacity: 1;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.projects .container-90 .hover-overlay .project-icon-container {
  background: rgba(0, 154, 154, 0.6);
  color: #fff;
  border-radius: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projects .container-90 .hover-overlay .project-icon-container i {
  padding: 1.2rem;
  font-size: 1.6rem;
}

.projects .container-90 .hover-overlay .project__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 0.7rem;
  padding: 1rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects .container-90 .hover-overlay .project__info h4 {
  padding-bottom: 8px;
}

.projects .container-90 .hover-overlay .project__info.hovered {
  -webkit-transform: none;
          transform: none;
}

#project-1 {
  background: url("../img/1.png") no-repeat center center/cover;
}

#project-2 {
  background: url("../img/2.png") no-repeat center center/cover;
}

#project-3 {
  background: url("../img/3.png") no-repeat center center/cover;
}

#project-4 {
  background: url("../img/4.png") no-repeat left center/cover;
}

#project-5 {
  background: url("../img/5.png") no-repeat center center/cover;
}

#project-6 {
  background: url("../img/6.png") no-repeat center center/cover;
}

.contact {
  padding: 10rem 0;
}

.contact i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #009a9a;
}

.contact form .form-group {
  margin-bottom: 2rem;
}

.contact form input,
.contact form textarea {
  display: block;
  margin: auto;
  padding: 0.8rem;
  font-size: 1rem;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #333;
}

.contact form .contact__info__btn {
  background: #009a9a;
  color: #fff;
  cursor: pointer;
  border-color: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact form .contact__info__btn:hover, .contact form .contact__info__btn:focus {
  background: #fff;
  color: #009a9a;
  border: 1px solid #009a9a;
}

.contact form .contact__info__recaptcha {
  width: 300px;
  margin: auto;
}

footer {
  color: #333;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 4rem 0;
}

footer .container-80 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

footer .container-80 .footer-icon-container .back-to-top {
  padding: 8px 15px;
  display: inline-block;
  margin-left: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .container-80 .footer-icon-container .back-to-top:hover {
  background: #181818;
  color: #fff;
}

@media (max-width: 935px) {
  header .container-80 .title .title__title-name {
    font-size: 1.5rem;
  }
  header .container-80 .title .title__name {
    font-size: 1.2rem;
  }
  .projects .container-90 {
    width: 90%;
  }
  .projects .container-90 .project {
    min-width: 200px;
    min-height: 250px;
  }
  .projects .container-90 .project .project__info {
    height: 60%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
    min-width: 300px;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  header .container-80 {
    -ms-grid-columns: 4fr 1fr 1fr;
        grid-template-columns: 4fr 1fr 1fr;
  }
  header .container-80 .hamburger {
    visibility: visible;
  }
  header .container-80 .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 15rem 0;
    background: #333;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  header .container-80 .nav__list .nav__link {
    color: #fff;
    display: inline-block;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  header .container-80 .nav__list .nav__link:hover, header .container-80 .nav__list .nav__link:focus {
    color: #009a9a;
  }
  header .container-80 .nav__list .nav__link.active {
    border: none;
  }
  .about .about__info {
    padding: 0;
  }
  .about .about__info .about__info__img {
    width: 80%;
    margin: 0 auto 1rem auto;
  }
  .intro {
    margin-top: 1rem;
    font-size: 0.85rem;
  }
  .projects {
    margin-top: 2rem;
  }
  .projects .container-90 {
    width: 95%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects .container-90 .project {
    width: 100%;
    min-height: 350px;
  }
  .projects .container-90 .project .hover-overlay {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
  }
  .projects .container-90 .project .hover-overlay .project__info {
    -webkit-transform: none;
            transform: none;
    height: 40%;
  }
  .contact {
    height: 100%;
  }
  .page-grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 4rem 0;
  }
  .page-grid-container .divider {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 400%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer {
    height: 120px;
    width: 100%;
  }
  footer .container-80 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1rem;
  }
  footer .container-80 .footer__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .container-80 .footer-icon-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .container-80 .footer-icon-container .back-to-top {
    margin: 0;
  }
}

@media (max-width: 425px) {
  .projects .container-90 .project .hover-overlay .project__info {
    height: 50%;
  }
}

@media (max-height: 600px) {
  .contact {
    height: 100%;
    padding: 5rem 0;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  .intro {
    margin-top: 1.5rem;
  }
  .projects {
    margin-top: 1rem;
    padding-bottom: 1.5rem;
  }
  .projects .project {
    margin-bottom: 120px;
  }
  .projects .project .hover-overlay {
    opacity: 1;
    background: transparent;
    overflow: visible;
  }
  .projects .project .hover-overlay .project-icon-container {
    display: none;
  }
  .projects .project .hover-overlay .project__info {
    height: 50%;
    -webkit-transform: none;
            transform: none;
    bottom: -50%;
  }
  footer {
    padding: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */