.btn-4,
.btn-3,
button {
  display: inline-block;
  background: $color-2;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $white;
    color: $color-2;
  }
}
