.btn-4,
.btn-3,
button {
  display: inline-block;
  background: #5fcf80;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  cursor: pointer;
}

.btn-4:hover, .btn-4:focus,
.btn-3:hover,
.btn-3:focus,
button:hover,
button:focus {
  background: #fff;
  color: #5fcf80;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #717f86;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.blank-navbar {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 2;
}

header {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 90%;
  margin: auto;
  background: orange;
  z-index: 1;
}

header #branding {
  position: fixed;
  top: 0;
  height: 55px;
  width: 90%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #branding .branding__heading {
  color: #5fcf80;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  height: 55px;
  z-index: 2;
  -webkit-transform: translatex(-5%);
          transform: translatex(-5%);
}

.hamburger__toggler {
  z-index: 3;
}

.hamburger__menu {
  z-index: 2;
}

nav {
  border-top: solid #ccc 1px;
  background: #fff;
  position: fixed;
  top: 55px;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

nav.show {
  -webkit-transform: none;
          transform: none;
}

nav .nav__nav-list {
  width: 90%;
  margin: 2rem auto;
}

nav .nav__nav-list .nav__nav-item {
  text-align: center;
}

nav .nav__nav-list .nav__nav-item .nav__nav-link {
  display: block;
  padding: 1rem 0 1rem 0;
}

nav .nav__nav-list .nav__nav-item .nav__nav-link:hover, nav .nav__nav-list .nav__nav-item .nav__nav-link:focus {
  color: #5fcf80;
  outline: none;
}

nav .nav__nav-list .nav__nav-item a#free-trial-link {
  background: #5fcf80;
  color: #fff;
  border-radius: 2rem;
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .nav__nav-list .nav__nav-item a#free-trial-link:hover, nav .nav__nav-list .nav__nav-item a#free-trial-link:focus {
  background: #fff;
  color: #5fcf80;
  border: solid 1px #5fcf80;
}

.hamburger__toggler:checked ~ #nav-menu {
  margin-top: 0;
}

main {
  position: fixed;
  top: 55px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 55px);
  z-index: -1;
  scroll-behavior: smooth;
}

.section-header {
  text-align: center;
  margin: 2rem 0;
}

.section-header .section-header__heading {
  margin-bottom: 2rem;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-header .section-header__heading.show {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#showcase {
  height: 100%;
  background: url(../img/bg-banner.jpg) center center/cover no-repeat;
}

#showcase .showcase__overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#showcase .showcase__overlay .contents {
  color: #fff;
}

#showcase .showcase__overlay .contents h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

#showcase .showcase__overlay .contents h1.showcase__heading {
  display: inline-block;
  border: #5fcf80 solid 0.3rem;
  padding: 1rem;
}

#showcase .showcase__overlay .contents .btn-4 {
  margin-top: 8%;
}

#showcase .showcase__overlay .contents #showcase-animation {
  width: 30px;
  height: 60px;
  border: solid 2px #fff;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% auto 0 auto;
}

#showcase .showcase__overlay .contents #showcase-animation .showcase-animation__item {
  width: 5px;
  height: 5px;
  background: #fff;
  position: relative;
  -webkit-animation-name: dot;
          animation-name: dot;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dot {
  0% {
    top: -30%;
  }
  25% {
    top: -15%;
  }
  50% {
    top: 0;
  }
  75% {
    top: 15%;
  }
  100% {
    top: 30%;
  }
}

@keyframes dot {
  0% {
    top: -30%;
  }
  25% {
    top: -15%;
  }
  50% {
    top: 0;
  }
  75% {
    top: 15%;
  }
  100% {
    top: 30%;
  }
}

#features {
  padding-top: 3rem;
}

#features .feature__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

#features .feature__box .feature__box__heading {
  margin-bottom: 1rem;
}

#features .feature__box i {
  margin-right: 2rem;
  font-size: 2.5rem;
  color: #5fcf80;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#features .feature__box .feature {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#organizations {
  background: #f4f4f4;
}

#organizations .container-4 {
  padding-top: 3rem;
}

#organizations #statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[3];
      grid-template-columns: repeat(3, 25%);
  grid-gap: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

#organizations #statistics .statistics__card {
  background: #5fcf80;
  text-align: center;
  border-radius: 0 2rem 2rem 2rem;
  color: #fff;
}

#organizations #statistics .statistics__card * {
  margin: 1rem 0;
}

#organizations #statistics .statistics__card .statistics__card__heading {
  font-size: 2rem;
}

#organizations #statistics .statistics__card i {
  font-size: 9rem;
}

#organizations .contents .statistics__contents__heading {
  font-size: 2rem;
}

#organizations .contents .statistics__contents__heading2 {
  color: #5fcf80;
  margin-bottom: 2rem;
}

#subscription {
  margin: 7rem 0;
}

#subscription #subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#subscription #subscription-form input {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

#subscription #subscription-form input[type="email"] {
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #5fcf80;
  margin: 1px;
  font-size: 1rem;
}

#subscription #subscription-form input[type="submit"] {
  background: #5fcf80;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin: 1px;
}

#subscription #subscription-form input[type="submit"]:hover, #subscription #subscription-form input[type="submit"]:focus {
  background: #fff;
  color: #5fcf80;
}

#workshops {
  text-align: center;
  margin-bottom: 5rem;
}

#workshops .workshops__p {
  margin: 2rem 0;
}

#workshops .grid-container .workshops__card {
  background: #fff;
  padding: 2rem;
  margin-bottom: 1rem;
}

#workshops .grid-container .workshops__card i {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #5fcf80;
}

#members .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5px;
}

#members .grid-container .member {
  background: #fff;
  text-align: center;
  padding: 1rem;
}

#members .grid-container .member * {
  margin-bottom: 1rem;
}

#members .grid-container .member img {
  min-width: 200px;
  border-radius: 25%;
}

#customer-feedback {
  padding-top: 4rem;
}

#customer-feedback #feedback-examples {
  background: #ccc;
  color: #909090;
  padding: 1rem;
}

#customer-feedback #feedback-examples .feedback__example {
  margin: 2rem 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

#customer-feedback #feedback-examples .feedback__example.show {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#customer-feedback #feedback-examples .feedback__example .feedback__p {
  margin-bottom: 1rem;
}

#works {
  padding-top: 3rem;
}

#works .grid-container {
  width: 90%;
  margin: auto;
}

#works .work {
  position: relative;
  margin-bottom: 1rem;
}

#works .work img {
  display: block;
}

#works .work .work__contents {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  height: 100%;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#works .work .work__contents:hover, #works .work .work__contents:focus {
  opacity: 1;
}

#pricing {
  background: #f4f4f4;
  padding-top: 3rem;
}

#pricing #plans .plan {
  background: #fff;
  margin-bottom: 1rem;
  padding: 3rem 1.5rem;
  text-align: center;
}

#pricing #plans .plan .plan__plan-name {
  border-bottom: 2px solid #717f86;
  width: 170px;
  padding-bottom: 5px;
  margin: auto;
}

#pricing #plans .plan .plan__price {
  font-size: 2rem;
  margin: 1rem 0;
}

#pricing #plans .plan .plan__btn {
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  text-transform: uppercase;
}

#contact #contact-form input,
#contact #contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  resize: none;
}

footer {
  background: #181818;
  color: #ccc;
  padding: 3rem;
}

footer .footer__heading {
  text-align: center;
  padding: 2rem 0;
}

footer input,
footer button {
  display: block;
  width: 100%;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: #f4f4f4;
}

footer input i,
footer button i {
  margin-right: 1rem;
}

footer input {
  background: #333;
}

footer #sns-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3rem)[5];
      grid-template-columns: repeat(5, 3rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  margin: 3rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

footer #sns-icons i {
  cursor: pointer;
}

footer .footer__copyright {
  text-align: center;
  padding-bottom: 2rem;
}

@media (min-width: 425px) {
  #organizations #subscription-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #organizations #subscription-form input[type="email"] {
    border-radius: 2rem 0 0 2rem;
    margin: 0;
    width: 70%;
  }
  #organizations #subscription-form input[type="submit"] {
    border-radius: 0 2rem 2rem 0;
    margin: 0;
    width: 30%;
  }
}

@media (min-width: 768px) {
  header .hamburger {
    display: none;
  }
  header .hamburger__menu,
  header .hamburger__toggler {
    visibility: hidden;
  }
  header nav {
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 55px;
    -webkit-transform: none;
            transform: none;
    background: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav ul.nav__nav-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 75%;
    max-width: 100%;
  }
  header nav ul.nav__nav-list .nav__nav-item {
    text-align: right;
    width: 90%;
  }
  header nav ul.nav__nav-list .nav__nav-item .nav__nav-link {
    padding: 0;
    height: 100%;
  }
  header nav ul.nav__nav-list .nav__nav-item #free-trial-link {
    padding: 0.2rem 0;
    text-align: center;
    max-width: 100px;
    display: inline-block;
    margin-left: 10px;
    font-size: 0.9rem;
  }
  #showcase .showcase__overlay .contents h1 {
    font-size: 2rem;
  }
  #features .contents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 3rem 0;
  }
  #features .container-4 {
    width: 95%;
  }
  #organizations .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    width: 100%;
  }
  #organizations .grid-container #statistics {
    width: 100%;
  }
  #workshops .workshops__p {
    margin: 2rem 0;
  }
  #workshops .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  #members {
    width: 100%;
  }
  #members .container-4 {
    width: 100%;
  }
  #members .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  #members .grid-container .member img {
    width: 80%;
  }
  #customer-feedback #feedback-examples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
    color: #616161;
  }
  #works .grid-container {
    width: 95%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    font-size: 80%;
    text-align: center;
  }
  #pricing #plans {
    margin: 2rem auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  #contact {
    padding: 3rem 0;
  }
  #contact .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  #contact .grid-container textarea {
    height: 150px;
  }
  #contact .contact__btn {
    display: inline-block;
    width: 30% !important;
  }
  footer .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px 180px;
        grid-template-columns: 250px 250px 180px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1rem;
  }
}

@media (min-width: 1200px) {
  header nav ul.nav__nav-list {
    margin: 0;
  }
}

@media (max-height: 500px) {
  #showcase .showcase__overlay .contents .showcase__heading {
    font-size: 1.5rem;
  }
  #showcase .showcase__overlay .contents .showcase__p,
  #showcase .showcase__overlay .contents .showcase__heading-2 {
    display: none;
  }
  #showcase .showcase__overlay .contents .showcase__btn {
    display: block;
    width: 150px;
    margin: auto;
    font-size: 0.9rem;
  }
  #showcase .showcase__overlay .contents #showcase-animation {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */