* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-color: #333;
  --secondary-font-color: #fff;
}

img {
  width: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1.8rem;
  overflow-x: hidden;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/showcase.jpg") center center/cover no-repeat;
}

nav {
  padding-top: 1.5rem;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

.navbar-brand a:hover {
  text-decoration: none;
  color: var(--secondary-font-color);
  background: inherit;
}

.brand-highlight {
  color: #e08119;
}

nav a {
  color: var(--secondary-font-color);
}

.nav a:hover,
.nav a:focus {
  color: var(--primary-font-color);
}

.nav {
  font-size: 1.2rem;
  align-items: center;
}

.nav .dropdown-menu {
  background: #333;
  padding: 0;
  width: 300px;
}

.nav .dropdown-menu a {
  color: var(--secondary-font-color);
  padding: 1.3rem;
}

.nav .dropdown-menu a:hover {
  color: var(--primary-font-color);
}

/* SHOWCASE SECTION */

.showcase {
  height: 100%;
  color: var(--secondary-font-color);
  display: flex;
  align-items: center;
}

.product-description {
  width: 70%;
  padding-bottom: 20%;
}

.showcase a {
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
}

.showcase a:hover,
.showcase a:focus {
  background: rgba(0, 0, 0, 0.6);
}

/* INFO SECTION */
.info {
  display: flex;
  margin: 3rem 0;
}

.info .info-texts {
  flex: 2;
}

.info-texts h2 {
  border-bottom: 2px solid #e08119;
}

.info-img {
  flex: 3;
}

/* FOOTER SECTION */

footer {
  background: var(--primary-font-color);
  padding: 2rem 5rem;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

footer h5 {
  color: var(--secondary-font-color);
}

footer a {
  color: #e08119;
}

footer a:hover {
  color: #e08119;
}

footer .form-group {
  display: flex;
  width: 300px;
  margin: auto;
}

.form-group .btn {
  background: #e08119;
  color: var(--secondary-font-color);
}

footer p {
  color: var(--secondary-font-color);
  text-align: center;
  margin: 0;
  padding: 3rem 0 1rem 0;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease;
}

/* MEDIA QUERIES */
@media (max-width: 826px) {
  footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .showcase .container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .product-description h1 {
    padding-top: 2rem;
    font-size: 2.5rem;
  }

  .product-description .btn {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .info {
    flex-direction: column;
  }

  .info-texts {
    order: 2;
  }

  footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 576px) {
  nav .container {
    align-items: center;
  }
  nav .container {
    flex-direction: column;
  }

  nav .nav-link {
    font-size: 1rem;
  }

  .showcase .container {
    padding-bottom: 15%;
  }

  .product-description {
    text-align: center;
  }

  .product-description .btn {
    font-size: 1rem;
  }

  .product-description p {
    display: none;
  }

  footer {
    padding: 0;
  }

  footer form .form-group {
    width: 80%;
  }
}

@media (max-height: 650px) {
  .product-description p {
    display: none;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .product-description .btns {
    width: auto;
    display: flex;
  }

  .product-description .btns .btn {
    margin: 0 5px;
  }
}

@media (max-height: 500px) {
  nav .container {
    flex-direction: row;
  }

  .product-description h1 {
    padding-top: 2rem;
    font-size: 2.5rem;
  }

  .product-description .btn {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }
}
