.container-80 {
  width: 80%;
  margin: auto;
}

.container-90 {
  width: 90%;
  margin: auto;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4rem;
}

.px-5 {
  padding: 0 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.hamburger-menu {
  height: 18px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  visibility: hidden;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.hamburger-menu.show .hamburger-bar:first-child {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.show .hamburger-bar:nth-child(2) {
  display: none;
}

.hamburger-menu.show .hamburger-bar:last-child {
  -webkit-transform: rotate(-45deg) translate(6px, -5.5px);
          transform: rotate(-45deg) translate(6px, -5.5px);
}

.hamburger-menu .hamburger-bar {
  height: 3px;
  width: 100%;
  background: #f4f4f4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger-menu .hamburger-bar.change-color {
  background: #181818;
}

.btn-1 {
  padding: 1.5rem 4rem;
}

.btn-2 {
  padding: 1.3rem 3rem;
}

.btn-3 {
  padding: 1rem 2rem;
}

.btn-4 {
  padding: 0.8rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button,
input[type="submit"] {
  outline: none;
  cursor: pointer;
}

button:focus,
input[type="submit"]:focus {
  text-decoration: underline;
}

label {
  display: block;
}

input,
textarea {
  display: block;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #909090;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f4f4f4;
  font-size: 0.9rem;
  overflow-x: hidden;
  line-height: 1.5;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: #f4f4f4;
  -webkit-box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.3);
}

.navbar .container-90 {
  text-align: center;
  width: 90%;
  height: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .container-90 .navbar__branding {
  font-size: 2.2rem;
  margin-bottom: 5rem;
}

.navbar .container-90 .navbar__nav {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .container-90 .navbar__nav .navbar__ul .navbar__nav-item {
  margin-bottom: 2rem;
}

.navbar .container-90 .navbar__nav .navbar__ul .navbar__nav-item .navbar__nav-link {
  position: relative;
  outline: none;
}

.navbar .container-90 .navbar__nav .navbar__ul .navbar__nav-item .navbar__nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background: #228896;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .container-90 .navbar__nav .navbar__ul .navbar__nav-item .navbar__nav-link:hover:after, .navbar .container-90 .navbar__nav .navbar__ul .navbar__nav-item .navbar__nav-link:focus:after {
  content: "";
  width: 100%;
}

.navbar .container-90 footer .footer__content {
  padding-bottom: 1rem;
  color: #909090;
}

.navbar .container-90 footer .footer__sns-icons {
  margin: 0 0.5rem;
}

.navbar .container-90 footer .footer__sns-icons i {
  font-size: 1.1rem;
}

main {
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100vw - 300px);
  height: 100%;
  overflow-y: scroll;
}

#showcase {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/showcase.jpg") center center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/showcase.jpg") center center/cover no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#showcase #showcase-text {
  font-size: 2.5rem;
  font-weight: 100;
}

#showcase .showcase__p {
  font-size: 1rem;
}

#showcase .showcase__btn {
  padding: 1.3rem 2.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: inline-block;
}

#showcase .showcase__btn-1 {
  background: #228896;
  margin-right: 3px;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#showcase .showcase__btn-1:hover {
  background: #f4f4f4;
  color: #228896;
}

#showcase .showcase__btn-2 {
  background: #fff;
  color: #181818;
  margin-left: 3px;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#showcase .showcase__btn-2:hover {
  background: #181818;
  color: #fff;
}

#showcase .showcase__animation-container {
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#showcase .showcase__animation-container.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section {
  padding-top: 5rem;
}

.section .section-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

#about .container-90 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#about .container-90 .about__content p {
  margin-bottom: 1rem;
  color: #909090;
  line-height: 2;
}

#services .services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

#services .services__cards .services__cards__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  opacity: 0;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#services .services__cards .services__cards__card.show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#services .services__cards .services__cards__card .services__subheader {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

#services .services__cards .services__cards__card .services__card__p {
  color: #909090;
}

#services .services__cards .services__cards__card .services__cards__card__icon i {
  padding: 1.5rem;
  background: #ddd;
  color: #228896;
  font-size: 2.5rem;
  border-radius: 50%;
}

#blog .blog__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

#blog .blog__cards .blog__cards__card .blog__card__body {
  padding: 1rem;
  background: #fff;
}

#blog .blog__cards .blog__cards__card .blog__card__body .blog__card__heading {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

#blog .blog__cards .blog__cards__card .blog__card__body .blog__card__p {
  color: #909090;
  margin: 1rem 0;
}

#blog .blog__cards .blog__cards__card .blog__card__body a {
  font-size: 0.8em;
}

#blog .blog__cards .blog__cards__card .blog__card__body a:hover, #blog .blog__cards .blog__cards__card .blog__card__body a:focus {
  text-decoration: underline;
}

#contact {
  opacity: 0;
  margin-bottom: 5rem;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#contact.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

#contact h3 {
  color: #228896;
  font-size: 1.5rem;
}

#contact .contact__form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name msg" "email msg" "phone btn";
  grid-gap: 1rem;
}

#contact .contact__form input#name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact .contact__form input#email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: email;
}

#contact .contact__form input#phone-number {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
}

#contact .contact__form textarea#msg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: msg;
}

#contact .contact__form .form-btn-container #form-btn {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: btn;
  display: inline-block;
  background: #228896;
  color: #fff;
}

#contact .contact__form .form-btn-container #form-btn:hover {
  background: #fff;
  color: #228896;
}

@media (max-width: 1171px) {
  .hamburger-menu {
    visibility: visible;
  }
  .navbar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 1;
  }
  main {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  main.shift-right {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  main .section:not(#showcase) {
    padding-left: 2rem;
  }
}

@media (max-width: 997px) {
  #about .container-90 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #about .container-90 img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
    margin: auto;
  }
  #about .container-90 .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #blog .blog__cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #services .services__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #contact .container-90 .contact__form {
    display: block;
    width: 100%;
  }
  #contact .container-90 .contact__form input {
    height: 50px;
  }
  #contact .container-90 .contact__form * {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 200px;
  }
  main.shift-right {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  #showcase .showcase__btn {
    width: 80%;
    margin: 10px 0;
  }
  #about .container-90 img {
    width: 100%;
  }
  #blog .blog__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-height: 800px) {
  .navbar .container-90 .navbar__nav {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-height: 500px) {
  .navbar {
    overflow: scroll;
  }
  .navbar .container-90 .navbar__nav {
    -webkit-transform: none;
            transform: none;
  }
  #showcase .showcase__p {
    display: none;
  }
  #showcase #showcase-text {
    margin-bottom: 10%;
  }
  #showcase .showcase__btn {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */